/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lacquer&family=Monoton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


.fade{
    animation: fadeIn  3s ease-in-out forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
  
.fade-effect {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-effect.active {
  opacity: 1;
}
  
@keyframes fadeIn {
      from {
        opacity: 0;
      }
      to{
        opacity: 1;
      }
}
